<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MamalianLib.Properties.Settings.MamalianConnectionString"
            connectionString="Data Source=DESKTOP-V8K6H38;Initial Catalog=Mamalian;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>