@{
    ViewBag.Title = "Character";
}
@model List<int>
@{
    int str = 0, dex = 0, intl = 0;
}

<script type="text/javascript">
    function raceChanged() {
        var str = document.getElementById("charStrength");
        var dex = document.getElementById("charDexterity");
        var intl = document.getElementById("charIntelligence");

        var select = document.getElementById("charRace");
        var race = select.options[select.selectedIndex].value;
        //Total shouldn't be higher than 21
        switch (race) {
            case "1": //Cat
                str.textContent = "8";
                dex.textContent = "8";
                intl.textContent = "5";
                break;
            case "2": //Dog
                str.textContent = "8";
                dex.textContent = "5";
                intl.textContent = "8";
                break;
            case "3": //Fish
                str.textContent = "3";
                dex.textContent = "10";
                intl.textContent = "8";
                break;
            case "4": //Bird
                str.textContent = "4";
                dex.textContent = "7";
                intl.textContent = "10";
                break;
            case "5": //Horse
                str.textContent = "10";
                dex.textContent = "6";
                intl.textContent = "5";
                break;
            default:
                str.textContent = "1";
                dex.textContent = "1";
                intl.textContent = "1";
                break;
        }
    }
</script>
<h1>Character Creation</h1>
<div>
    <div style="display: flex; ">
        <div style="width: 35%">
            <h2>Character</h2>
            <p style="font-weight: bold">Name</p>
            <input type="text" id="charName" />
            <p style="font-weight: bold">Gender</p>
            <select id="charGender">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <p style="font-weight: bold">Race</p>
            <select id="charRace" onchange="raceChanged();">
                <option value="1">Cat</option>
                <option value="2">Dog</option>
                <option value="3">Fish</option>
                <option value="4">Bird</option>
                <option value="5">Horse</option>
            </select>
            <p style="margin-top: 12px">
                <a class="btn btn-default"> Create </a>
            </p>
        </div>
        <div style="width: 35%">
            <h2>Statistics</h2>
            <div>
                <p style="display: inline">
                    Strength:&thinsp; <b id="charStrength">8</b>
                </p>
            </div>
            <div>
                <p style="display: inline">
                    Dexterity:&thinsp; <b id="charDexterity">8</b>
                </p>
            </div>
            <div>
                <p style="display: inline">
                    Intelligence:&thinsp; <b id="charIntelligence">5</b>
                </p>
            </div>
        </div>
    </div>
</div>