@using MamalianLib;
@using MamalianDAL;
@using MamalianDAL.Contexts

@functions {
    private int getSelectedPlayer() {
        //TODO: Make this an actual method to get selected player
        return 3;
    }
}
@{
    ViewBag.Title = "Select";
    Player selectedPlayer = new Player();

    List<SelectListItem> players = new List<SelectListItem>();
    players.Add(new SelectListItem());
    foreach (var player in new PlayerSQLContext().GetAll()) {
        players.Add(new SelectListItem {
            Text = player.Name,
            Value = player.Id.ToString()
        });
    }
}

<script type="text/javascript" language="javascript">
    function getSelectedPlayer() {
        var e = document.getElementById("ddPlayers");
        var value = e.options[e.selectedIndex].value;
        @selectedPlayer = value;
    }
</script>
<h2>Character Select</h2>
    @Html.DropDownList("ddPlayers", players)

<p><a style="margin-top: 8px" class="btn btn-default" id="statIntAdd"
      href="@Url.Action("Play", "Game", new{@id = getSelectedPlayer()})">
    Start playing
</a></p>