@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mamalian</h1>
    <p class="lead">Mamalian is an RPG where the goal is to reach the highest wave possible.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start</h2>
        <p>
            Click the button below to start playing this amazing game!
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Game", "Home", null)>Play now &raquo;</a></p>
    </div>
</div>